@model IEnumerable<IdentityApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.Raw("|");
                        <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a>
                        @Html.Raw("|");
                        <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
